body {
  margin: 0;
}

.input {
  border: 1px solid #aeaeae;
  border-radius: 6px;
  width: 100%;
  font-size: inherit;
  padding: 4px 16px;

  &.-left-radius {
    border-radius: 6px 0px 0 6px;
  }

  &.-error {
    border: 1px solid #FF4D4F;
  }

  &.-textarea {
    padding: 16px;
    min-width: 520px;
    min-height: 80px;
    font: inherit;
  }
}

p.input-label {
  font-size: 14px;
  color: rgba(0,0,0,0.60);
  margin-top: 8px;
}
